html,
body,
h1 {
  padding: 0;
  margin: 0;
}

html,
body,
#__next {
  height: 100%;
}

body {
  --color-dark: #0d1117;
}

body {
  background: var(--color-dark);
  color: whitesmoke;
  font-family: title;
}

@font-face {
  font-family: title;
  src: url(resources/Kalam/Kalam-Regular.ttf);
}
