@use 'colors';

html,
body,
h1,
p {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

:root {
  --background: #{colors.$background-dark};
  --high-contrast: #{colors.$high-contrast-dark};
  &[data-theme='light'] {
    --background: #{colors.$background-light};
    --high-contrast: #{colors.$high-contrast-light};
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #{colors.$background-light};
    --high-contrast: #{colors.$high-contrast-light};
    &[data-theme='dark'] {
      --background: #{colors.$background-dark};
      --high-contrast: #{colors.$high-contrast-dark};
    }
  }
}

:root {
  background: var(--background);
  color: var(--high-contrast);
}
