html,
body,
h1 {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

/* Color definitions */
:root {
  --background: #0d1117;
  --high-contrast: whitesmoke;
}

:root {
  background: var(--background);
  color: var(--high-contrast);

  font-size: 5vw;
}
