@use '/app/colors';

.container {
  height: 100%;
  padding: 2rem;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 0.5rem;
  font-size: 1.25rem;
}

.messages {
  list-style-type: none;
  gap: 1rem;
  display: grid;
  align-content: start;
  overflow: auto;
}
