@use '/app/colors';

.container {
  height: 100%;
  padding: 2rem;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 0.5rem;
  font-size: 0.85rem;
}

.messages {
  list-style-type: none;
  gap: 1rem;
  display: grid;
  align-content: start;
  overflow: auto;
}

.form {
  display: grid;
}

.input {
  border-radius: 0.5rem;
  background-color: inherit;
  border: 1px solid var(--high-contrast);
  padding: 0.5rem 0.75rem;
  outline: none;
}
